// Footer
footer {
    position: relative;
    
    .ellipse-wrapper-footer{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        z-index: -1;
        
        div {
            position: relative;
            animation: float-random 15s ease-in-out infinite;
            
            &:first-child {
                transform: translateX(-1000px);
            }
            
            &:last-child {
                transform: translateX(500px);
            }
            
            img {
                max-width: 100%;
                height: auto;
                vertical-align: bottom;
            }
        }
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 40px;
    padding-top: 100px;
    position: relative;
    z-index: 1;
}

.col-1 {
    width: 36%;
    .logo {
        a {
            display: flex;
            align-items: center;
        }
    }
    div {
        color: white;
        margin-bottom: 16px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.col-2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    // gap: clamp(30px, 5vw, 60px);
    
    .menu__item-link {
        display: flex;
        align-items: center;
        color: white;
        transition: 0.5s color;
        
        img {
            margin-right: 16px;
        }
        
        &:hover {
            opacity: 0.8;
        }
    }
}