// Container
.container {
    max-width: ($containerWidth + $containerPadding) + px;
    width: 100%;
    margin: 0 auto;
    padding: 0 $containerSidePadding + px;

    @media (max-width: $breakpoint1450) {
        max-width: 1200px;
    }

    @media (max-width: $breakpoint992) {
        max-width: 970px;
    }

    @media (max-width: $breakpoint768) {
        max-width: 740px;
    }

    @media (max-width: $breakpoint480) {
        max-width: none;
    }
}

.button-primary {
    background-color: $white;
    color: $lightBlue;
    padding: 16px 48px 16px 16px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 16px;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url(../img/arrow_forward.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
    }
}

// Body & Locked
body {
    color: $white;
    background-color: #14192E;
    font-family: $fontMain;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    &.locked {
        overflow: hidden;
    }
    // Dark mode styles
    &.dark {
        background: #242424;
    }
}

// Animations
// Fade
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
