// Ellipse animation
@keyframes float-random {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(55px, -40px);
  }
  40% {
    transform: translate(55px, 45px);
  }
  60% {
    transform: translate(-50px, 45px);
  }
  80% {
    transform: translate(58px, -37px);
  }
  100% {
    transform: translate(0, 0);
  }
}

// Global ellipse positioning
.ellipse-wrapper {
 overflow: hidden;  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none; // Allow clicks to pass through
//   overflow: visible; 
}

.ellipse {
  position: absolute;
  z-index: -1;
  
  &--top-left {
    top: -14%;
    left: -48%;
    width: 100%;
    height: 100%;
    animation: float-random 15s ease-in-out infinite;
    
    img {
        max-width: 100%;       /* Ensures the image doesn't exceed its container width */
        height: auto;          /* Maintains the image aspect ratio */
        object-fit: contain;   /* Makes sure the entire image is visible within its box */
        overflow: visible;     /* Allows content to be visible outside its box */
        display: block;  
    }
  }
  
  &--top-right {
    top: -5%;
    right: -35%;
    width: 70%;
    height: 70%;
    animation: float-random 18s ease-in-out infinite reverse;
    
    img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
        overflow: visible;
        display: block;
        opacity: 0.7;
    }
  }
  
  &--top-center {
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 60%;
    animation: float-random 20s ease-in-out infinite;
    
    img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
        overflow: visible;
        display: block;
        opacity: 0.5;
    }
  }
}

// hero section
.hero {
    position: relative;
    padding-top: 200px;
    padding-bottom: 155px;
}

.hero__content {
    gap: 16px;
    max-width: 60%;
}
    .hero__title {
    font-size: 100px;
    font-weight: 700;
    font-family: $fontSecondary;
    padding-bottom: 56px;
}
.hero__text {
    max-width: 552px;
    font-size: 24px;
    padding-bottom: 50px;
}

// projects section
.projects {
    padding-top: 40px;
    &__content {
       padding-bottom: 100px;     
        &-title {
            font-size: 100px;
            font-weight: 700;
            font-family: $fontSecondary;
        }
        &-text {
            font-size: 28px;
            font-weight: 400;
            margin-bottom: 20px;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                bottom: -30px;
                left: -40px;
                width: 100%;
                height: 25px;
                background-image: url(../img/blue-underline.svg);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 2px;
            }
        }
    }
    &__slider {
        padding-top: 104px !important;
        padding-bottom: 106px !important;
        // margin: 0 -80px !important;
        // padding-left: 100px !important;
        // padding-right: 100px !important;
        
        .swiper {
            overflow: visible;
            margin-left: -30px;
            width: calc(100% + 60px);
        }
        
        &-item {
            min-width: 360px !important;
            background-color: $white !important;
            border-radius: 16px !important;
            padding: 24px !important;
            display: flex !important;
            flex-direction: column !important;
            gap: 16px !important;
        }
        &-title {
            font-family: $fontMain !important;
            font-size: 16px !important;
            font-weight: 400 !important;
            color: $lightBlue !important;
        }
        &-text {
            font-family: $fontMain;
            font-size: 14px;
            font-weight: 400;
            color: black;
        }
    }
}

// impact section
.impact {
    padding: 155px 0 100px 0;
    &__wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 121px;
    }
    &__blocks {
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        gap: 12px;
        
        &-item {
            background-color: $white;
            color: $darkBlue;
            padding: 24px 39px 27px 24px;
            border-radius: 12px;
            width: 264px;
            
            &:nth-child(3) {
                background-color: $lightBlue;
                color: $white;
            }
            
            &__title {
                font-size: 80px;
                font-weight: 700;
                font-family: $fontSecondary;
                padding-bottom: 25px;
                line-height: 1;
            }
        }
    }
    
    &__content {
        width: 50%;
        &-title {
            font-size: 100px;
            font-weight: 700;
            font-family: $fontSecondary;
            padding-bottom: 56px;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                background-image: url(../img/blue-underline.svg);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 2px;
                width: 100%;
                height: 25px;
                bottom: 25px;
                left: -33px;
            }
        }
        &-text {
            font-size: 28px;
        }
    }
}

// testimonials section
.testimonials {
    padding: 100px 0 100px 0;
    &__content {
     padding-bottom: 80px;
    }
    &__slider-item {
        min-width: 360px;
        color: $darkBlue;
        background-color: $white;
        border-radius: 16px;
        padding: 24px 24px 44px 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .button-secondary {
            align-self: flex-start;
            margin-top: auto;
        }
    }
    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__slider-stars{
        padding-bottom: 11px;
    }
    &__slider-subtitle{
        font-size: 12px;
        font-weight: 400;
        color: $darkBlue;
        font-family: $fontMain;
        padding-bottom: 8px;
    }
    &__slider-title{
        font-size: 16px;
        font-weight: 600;
        font-family: $fontSecondary;
        font-style: italic;
    }
    &__slider-text{
        font-size: 16px;
        font-weight: 400;
        font-family: $fontMain;
        padding-top: 20px;
        padding-bottom: 44px;
    }
}

@media screen and (max-width: $breakpoint992) {

    .hero {
        padding-top: 300px;
        padding-bottom: 70px;
    }
    .hero__content{
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .hero__title{
        font-size: 75px;
    }

    .hero__text{
        margin-bottom: 50px;
    }
    .impact{
        &__wrapper{
            flex-direction: column-reverse;
            align-items: center;
        }
        &__blocks{
            justify-content: center
        }
    }
    .ellipse{
      display: none;
    }

    .impact__content-title{
        font-size: 75px;
        &:after{
            left: 0;
        }

    }
    .impact__content{
        width: 100%;
        display: flex;
    align-items: center;
    gap: 50px;
    }
.projects__slider{
    padding-top: 50px !important;
}
.projects__slider-title{
    font-size: 18px !important;
}

.projects__slider-text{
    font-size: 16px !important;
}


}