// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1200;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Colors
$darkBlue:  #14192e;
$white: #ffffff;
$grey: #e6e6e6;
$blue:  #092196;
$lightBlue: #0058e6;
$purpule: #a982ed;


// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: #131418;
$burgerActiveColor: #fefefe;

// Fonts
$fontSecondary: 'Inter', sans-serif ;
$fontMain: 'Open Sans', sans-serif;



// Font Sizes
$fontSizeDefault: 16px;
$fontSizeSmall: 14px;
$fontSizeBig: 20px;

